
/* Add these to your globals.css file */
.visualizer-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
}

.visualization-canvas {
  width: 100%;
  height: 100%;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 12px 24px;
  background-color: #e719be;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-button:hover {
  background-color: #ff1dd2;
  background-size: 50px;
  font-size: 30px;
}